.topmember
  %h1 Membros:



.span8
  = @members.each do |member|
    .thumbnail.span2
      = image_tag member.avatar.url(:small)
    .heto-unit.span3
      %h3= member.name
      %h4= member.cargo
      %p= member.email
